
@{
    ViewBag.Title = "Hero List";
}
<h2>Hero List</h2>

<div class="row">
    <div class="table-responsive-lg">
        <table class="table table-striped table-hover ">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">City</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Picture</th>
                    <th scope="col">History of Past Ratings</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Superman</td>
                    <td>age</td>
                    <td>city</td>
                    <td>rate</td>
                    <td class="w-25">
                        <div class="col-sm-7">
                            <img class="img-thumbnail rounded" src="https://www.pngitem.com/pimgs/m/211-2118958_super-hero-male-icon-super-heroes-icon-hd.png" />
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-12">
                            <ul class="list-group">
                                <li class="list-group-item">May-01 4</li>
                                <li class="list-group-item">May-01 4</li>
                                <li class="list-group-item">May-01 4</li>
                                <li class="list-group-item">May-01 4</li>
                                <li class="list-group-item">May-01 4</li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>name</td>
                    <td>age</td>
                    <td>city</td>
                    <td>rate</td>
                    <td>picture</td>
                    <td>history</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>name</td>
                    <td>age</td>
                    <td>city</td>
                    <td>rate</td>
                    <td>picture</td>
                    <td>history</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>name</td>
                    <td>age</td>
                    <td>city</td>
                    <td>rate</td>
                    <td>picture</td>
                    <td>history</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>name</td>
                    <td>age</td>
                    <td>city</td>
                    <td>rate</td>
                    <td>picture</td>
                    <td>history</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>name</td>
                    <td>age</td>
                    <td>city</td>
                    <td>rate</td>
                    <td>picture</td>
                    <td>history</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>name</td>
                    <td>age</td>
                    <td>city</td>
                    <td>rate</td>
                    <td>picture</td>
                    <td>history</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>name</td>
                    <td>age</td>
                    <td>city</td>
                    <td>rate</td>
                    <td>picture</td>
                    <td>history</td>
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>name</td>
                    <td>age</td>
                    <td>city</td>
                    <td>rate</td>
                    <td>picture</td>
                    <td>history</td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>name</td>
                    <td>age</td>
                    <td>city</td>
                    <td>rate</td>
                    <td>picture</td>
                    <td>history</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
