
@{
    ViewBag.Title = "Hero List";
}
<h2>Hero List</h2>

<div class="row">
    <div class="table-responsive-lg">
        <table class="table table-striped table-hover ">
            <thead class="table-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Age</th>
                    <th scope="col">City</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Picture</th>
                    <th scope="col">History of Past Ratings</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Superman</td>
                    <td>age</td>
                    <td>city</td>
                    <td>4.5<i class="fa-solid fa-star text-warning"></i></td>
                    <td class="w-25">
                        <div class="col-sm-7">
                            <img class="img-thumbnail rounded" src="https://www.pngitem.com/pimgs/m/211-2118958_super-hero-male-icon-super-heroes-icon-hd.png" />
                        </div>
                    </td>
                    <td>
                        <div class="col-sm-12">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            Marcus
                                        </div>
                                        <div class="col-sm-4">
                                            <i class="fa-solid fa-star text-warning"></i>
                                            <i class="fa-regular fa-star text-black secondary"></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
